/*colors*/

:root {
  /*Primary*/
  --purple: hsl(259, 100%, 65%);
  --light_red: hsl(0, 100%, 67%);
  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --off_white: hsl(0, 0%, 94%);
  --light_grey: hsl(0, 0%, 86%);
  --smokey_grey: hsl(0, 1%, 44%);
  --off_black: hsl(0, 0%, 8%)
}

/*elements*/

body{
  font-size: 32px;
  font-family: "Poppins";
  color: var(--off_black);
  width: 100%;
  background-color: var(--off_white);
}

.container{
  width: 45%;
  margin: 5rem auto;
  background-color: var(--white);
  padding: 2rem 3rem;
  border-radius: 5%;
  border-bottom-right-radius: 30%;
}


#submitButton{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  color: var(--white);
  background-color: var(--purple);
  position: relative;
  top: 4rem;
}

#submitButton:hover {
  background-color: var(--off_black);
  position: relative;
}


h1 bold {
  color: var(--purple)
}

.labels{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.inputs{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 3rem;
}

#dayLabel, #monthLabel, #yearLabel {
  width: 27%;
  margin-right: 5%;
  color: var(--smokey_grey);
  font-size: 1rem;
}

#day, #month, #year {
  border:solid 0.5px var(--light_grey);
  outline:solid 1px var(--light_grey);
  color: var(--smokey_grey);
  width: 27%;
  margin-right: 5%;
  border-radius: .5rem;
  height: 3rem;
  font-size: 1rem;
}

#day:focus, #month:focus, #year:focus {
  outline: solid 1px var(--purple);
}

#dateInput {
  border-bottom: 1px solid var(--light_grey);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

:focus{
  border-color: var(--purple);
}
