/*colors*/

:root {
  /*Primary*/
  --purple: hsl(259, 100%, 65%);
  --light_red: hsl(0, 100%, 67%);
  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --off_white: hsl(0, 0%, 94%);
  --light_grey: hsl(0, 0%, 86%);
  --smokey_grey: hsl(0, 1%, 44%);
  --off_black: hsl(0, 0%, 8%)
}

/*elements*/

body{
  font-size: 32px;
  font-family: "Poppins";
  color: var(--off_black)
}


#submitButton{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  color: var(--white);
  background-color: var(--purple);
}

#submitButton:hover {
  background-color: var(--off_black);
}


h1 bold {
  color: var(--purple)
}

#day, #month,#year {
  border:solid 0.5px var(--light_grey);
  outline:solid 1px var(--light_grey);
}

#day:focus, #month:focus, #year:focus {
  outline: solid 1px var(--purple);
}

#dateInput {
  border-bottom: 1px solid var(--light_grey)
}

:focus{
  border-color: var(--purple);
}
