/*colors*/

:root {
  /*Primary*/
  --purple: hsl(259, 100%, 65%);
  --light_red: hsl(0, 100%, 67%);
  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --off_white: hsl(0, 0%, 94%);
  --light_grey: hsl(0, 0%, 86%);
  --smokey_grey: hsl(0, 1%, 44%);
  --off_black: hsl(0, 0%, 8%)
}

/*elements*/

body{
  font-size: 32px;
  font-family: "Poppins";
  color: var(--off_black);
  width: 100%;
  background-color: var(--off_white);
}

.container{
  width: 45%;
  height: 30rem;
  margin: 5rem auto;
  background-color: var(--white);
  padding: 2rem 3rem;
  border-radius: 5%;
  border-bottom-right-radius: 30%;
}


#submitButton{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
  color: var(--white);
  background-color: var(--purple);
  position: relative;
  top: 3.5rem;
  z-index: 1;
}

#submitButton:hover {
  background-color: var(--off_black);
  position: relative;
}


h1 bold {
  color: var(--purple)
}

#labels{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: .5rem;
}

.inputs{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#dayLabel, #monthLabel, #yearLabel {
  width: 27%;
  margin-right: 5%;
  color: var(--smokey_grey);
  font-size: 1rem;
}

#day, #month, #year {
  border:solid 0.5px var(--light_grey);
  outline:solid 1px var(--light_grey);
  color: var(--off_black);
  width: 27%;
  margin-right: 5%;
  border-radius: .5rem;
  padding-left: .8rem;
  height: 3rem;
  font-size: 1.8rem;
  font-weight: 800;
}

#day:focus, #month:focus, #year:focus {
  outline: solid 1px var(--purple);
}

#error_message {
  display: flex;
  border-bottom: 1px solid var(--light_grey);
  width: 100%;
  position: relative;
  bottom: 1.2rem;
}

#error_message p{
  color: var(--light_red);
  font-style: italic;
  font-weight: 400;
  font-size: .8rem;
  width: 27%;
  visibility: hidden;
}

#dateInput {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.output{
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
}

:focus{
  border-color: var(--purple);
}

#monthsOutput {
  position: relative;
  bottom: 4rem;
}

#daysOutput {
  position: relative;
  bottom: 8rem;
}

/*media query*/

@media screen and (max-width: 576px) {
  .container{
    max-width: 100%;
    margin: 4rem auto;
  }
  #labels{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
  }

  .inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .output{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.3rem;
  }
  #monthsOutput {
    position: relative;
    bottom: 4rem;
  }

  #daysOutput {
    position: relative;
    bottom: 8rem;
  }
  #monthsOutput,#yearsOutput,#daysOutput {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  #submitButton{
    position: relative;
    top: 3rem;
    margin: auto;
  }

  h1 bold{
    margin-right: 1rem;
  }

  h1 {
    margin-left: 1rem;
  }

  #error_message p{
    font-size: .6rem;
    width: 27%;
  }

  #error_message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 4rem;
    padding-bottom: 2rem;
  }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
  .container{
    max-width: 100%;
    margin: 4rem auto;
  }
  #labels{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
  }

  .inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .output{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.4rem;
    margin: 0 auto;
  }

  #submitButton{
    margin: auto;
    position: relative;
    top: 3.7rem;
  }

  h1 bold{
    margin-right: 1rem;
  }

  h1 {
    margin-left: 1rem;
  }

  #error_message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0rem;
  }

  #error_message p{
    font-size: .6rem;
    position: relative;
    bottom: 3rem;
  }

}


@media screen and (min-width: 768px) and (max-width: 1050px) {
  #submitButton{
    position: relative;
    top: 4.75rem;
  }
}
